<!DOCTYPE html>
<html lang="en">

<head>
    <title>Black Lives Matter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="column">
                <div class="oneline">
                    <ul>
                        {% for file in files %}
                            {% if file != ".gitignore" %}
                                <li>
                                    <a href="/{{ file }}">{{ file }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="videoframe">
                    <iframe name="clips" src="/static/videos/{{ active }}">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</body>

</html>