<!DOCTYPE html>
<html lang="en">

<head>
    <title>Black Lives Matter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="column">
                <div class="oneline">
                    <ul>
                        {% for file in files %}
                        <li>
                            <a href="/{{ file }}" target="clips">{{ file }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="videoframe">
                    <iframe name="clips">
                        {% if active %}
                            <video src="{{ url_for('static', filename='videos/{{ active }}') }}" autoplay=true controls=true>
                            </video>
                        {% endif %}
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</body>

</html>